<div class="container mt-5">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: 'What a great movie...' %>
    <%= f.input :movie_id, collection: Movie.all %>
    <%= f.submit "Add", class: "btn btn-dark" %>
  <% end %>
</div>
